* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

input:not([type="radio"]) {
  width: 100%;
}

input[type="number"] {
  padding: 0.85rem 1rem;
  font-size: 1rem;

  &:focus{
    outline: none;
    border: 2px solid #00c039;
    border-radius: .25rem;
  }
}
input[type="range"] {
  margin-top: 1.5rem;
  // accent-color: #66ff94;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: #ecf1f4;
    border-radius: .5rem;
    cursor: pointer;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    background: #00c039;
    cursor: pointer;
    border-radius: 100%;
    transform: translateY(-5px);
  }
}

span {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container {
  background: #fff;
  max-width: 968px;
  margin: 3rem auto;
  border-radius: 1rem;
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .right{
    width: 50%;
    padding: 3rem 3rem 3rem 2rem;

  }
  .left {
    width: 50%;
    padding: 3rem 2rem 3rem 3rem;
  }

  .left {
    border-right: 1px solid #ecf1f4;
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.flag-radio {
  display: flex;
  flex-wrap: wrap;
  input {
    display: none;

    &#group-1:checked ~ label[for="group-1"],  &#group-2:checked ~ label[for="group-2"] {
      background-color: #00c039;
      color: #fff;
    }
  }

  label[for="group-1"]{
    border-radius: .5rem 0 0 .5rem;
  }
  label[for="group-2"]{
    border-radius: 0 .5rem .5rem 0;
  }
  label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    border: 2px solid #00c039;
    padding: .5rem 1rem;

  }
}

.limite {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  .wrapper{
    width: calc(50% - .5rem);
    input{
      margin-top: 0.5rem;
    }  

    & + .wrapper{
      span, p{
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      
      p{
        color: #00c039;
        font-size: 1.5rem;
      }
    }
  }
}


.recebimento {
  display: flex;
  flex-wrap: wrap;

  .wrapper {
    padding-left: 1.5rem;
    width: auto;

    & + .wrapper{
      margin-left: 3rem;
    }

    input{
      display: none;

      &#rec-1:checked ~ label[for="rec-1"], &#rec-2:checked ~ label[for="rec-2"]{
        &::before{
          background: #00c039;
          border: 3px solid #fff;
        }
      }
    }

    label{
      position: relative;
      &::before{
        content: '';
        width: .75rem;
        height: .75rem;
        position: absolute;
        left: -1.5rem;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid #fff;
        outline: 1px solid #00c039;
        border-radius: 100%;
      }
    }
  }
}

.container .right{
  padding-left: 2rem;
  .main-info{
    width: 100%;
    background: #00c039;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5rem;
    span{
      text-align: center;
      margin-bottom: 0;
      font-weight: normal;
    }
    h2{
      font-size: 2.5rem;
      font-family: 'Nunito';
      font-weight: 800;
    }
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    .content, .content-large {
      box-shadow: 0 4px 24px 0 rgba(11, 11, 11, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1.5rem;
      border-radius: 1rem;

      span{
        text-align: center;
        margin-bottom: 0;
        font-weight: normal;
      }

      p{
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    .content{
      width: calc(50% - .5rem);
    }

    .content-large{
      width: 100%;
      flex-direction: row;

      svg{
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
      }

      p{
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

.slider span strong{
  color: #00c039;
}

@media (max-width: 890px){
  .container{
    flex-direction: column;
    max-width: 600px;

    .left, .right{
      width: 100%;
    }

    .left{
      border-bottom: 1px solid #ecf1f4;
      border-right: none;
    }
  }
}