* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

input:not([type="radio"]) {
  width: 100%;
}

input[type="number"] {
  padding: 0.85rem 1rem;
  font-size: 1rem;
}

input[type="number"]:focus {
  outline: none;
  border: 2px solid #00c039;
  border-radius: .25rem;
}

input[type="range"] {
  margin-top: 1.5rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    -webkit-appearance: none;
    background-color: #ecf1f4;
    border-radius: .5rem;
    cursor: pointer;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    background: #00c039;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

span {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container {
  background: #fff;
  max-width: 968px;
  margin: 3rem auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .right {
  width: 50%;
  padding: 3rem 3rem 3rem 2rem;
}

.container .left {
  width: 50%;
  padding: 3rem 2rem 3rem 3rem;
}

.container .left {
  border-right: 1px solid #ecf1f4;
}

.container .left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.flag-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flag-radio input {
  display: none;
}

.flag-radio input#group-1:checked ~ label[for="group-1"], .flag-radio input#group-2:checked ~ label[for="group-2"] {
  background-color: #00c039;
  color: #fff;
  font-weight: 500;
}

.flag-radio label[for="group-1"] {
  border-radius: .5rem 0 0 .5rem;
}

.flag-radio label[for="group-2"] {
  border-radius: 0 .5rem .5rem 0;
}

.flag-radio label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  cursor: pointer;
  border: 2px solid #00c039;
  padding: .5rem 1rem;
}

.limite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recebimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recebimento .wrapper {
  padding-left: 1.5rem;
  width: auto;
}

.recebimento .wrapper + .wrapper {
  margin-left: 3rem;
}

.recebimento .wrapper input {
  display: none;
}

.recebimento .wrapper input#rec-1:checked ~ label[for="rec-1"]::before, .recebimento .wrapper input#rec-2:checked ~ label[for="rec-2"]::before {
  background: #00c039;
  border: 3px solid #fff;
}

.recebimento .wrapper label {
  position: relative;
}

.recebimento .wrapper label::before {
  content: '';
  width: .75rem;
  height: .75rem;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 3px solid #fff;
  outline: 1px solid #00c039;
  border-radius: 100%;
}

.container .right {
  padding-left: 2rem;
}

.container .right .main-info {
  width: 100%;
  background: #00c039;
  color: #fff;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5rem;
}

.container .right .main-info span {
  text-align: center;
  margin-bottom: 0;
}

.container .right .main-info h2 {
  font-size: 2.5rem;
}

.container .right .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.container .right .wrapper .content, .container .right .wrapper .content-large {
  -webkit-box-shadow: 0 4px 24px 0 rgba(11, 11, 11, 0.12);
          box-shadow: 0 4px 24px 0 rgba(11, 11, 11, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
}

.container .right .wrapper .content span, .container .right .wrapper .content-large span {
  text-align: center;
  margin-bottom: 0;
  font-weight: normal;
}

.container .right .wrapper .content p, .container .right .wrapper .content-large p {
  font-weight: 600;
  font-size: 1.5rem;
}

.container .right .wrapper .content {
  width: calc(50% - .5rem);
}

.container .right .wrapper .content-large {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .right .wrapper .content-large svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .5rem;
}

.container .right .wrapper .content-large p {
  font-size: 1rem;
  font-weight: normal;
}

.slider span strong {
  color: #00c039;
}
/*# sourceMappingURL=styles.css.map */