* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

input:not([type="radio"]) {
  width: 100%;
}

input[type="number"] {
  padding: 0.85rem 1rem;
  font-size: 1rem;

  &:focus{
    outline: none;
    border: 2px solid #00c039;
    border-radius: .25rem;
  }
}
input[type="range"] {
  margin-top: 1.5rem;
  // accent-color: #66ff94;
}


span {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container {
  background: #fff;
  max-width: 968px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 64px 0 rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .right{
    width: 50%;
    padding: 1rem 1rem 1rem 2rem;

  }
  .left {
    width: 50%;
    padding: 1rem 2rem 1rem 1rem;
  }

  .left {
    border-right: 1px solid #ecf1f4;
    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.flag-radio {
  display: flex;
  flex-wrap: wrap;
  input {
    display: none;

    &#group-1:checked ~ label[for="group-1"] {
      background-color: #00c039;
    }
    &#group-2:checked ~ label[for="group-2"] {
      background-color: #00c039;
    }
  }

  svg {
    width: 4rem;
    height: 4rem;
  }

  label {
    cursor: pointer;
    border: 2px solid #00c039;
    border-radius: 0.2rem;
    padding: 0 0.5rem;

    & + label {
      margin-left: 0.75rem;
    }
  }
}

.limite {
  display: flex;
  flex-wrap: wrap;

}


.recebimento {
  display: flex;
  flex-wrap: wrap;

  .wrapper {
    padding-left: 1.5rem;
    width: auto;

    & + .wrapper{
      margin-left: 3rem;
    }

    input{
      display: none;

      &#rec-1:checked ~ label[for="rec-1"], &#rec-2:checked ~ label[for="rec-2"]{
        &::before{
          background: #00c039;
          border: 3px solid #fff;
        }
      }
    }

    label{
      position: relative;
      &::before{
        content: '';
        width: .75rem;
        height: .75rem;
        position: absolute;
        left: -1.5rem;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid #fff;
        outline: 1px solid #00c039;
        border-radius: 100%;
      }
    }
  }
}

.container .right{
  padding-left: 2rem;
  .main-info{
    width: 100%;
    background: #00c039;
    color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 1.5rem;
    span{
      text-align: center;
      margin-bottom: 0;
    }
    h2{
      font-size: 2.5rem;
    }
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .content, .content-large {
      box-shadow: 0 4px 64px 0 rgba(11, 11, 11, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1.5rem;
      border-radius: .5rem;

      span{
        text-align: center;
        margin-bottom: 0;
        font-weight: normal;
      }

      p{
        font-weight: 600;
        font-size: 1.5rem;
      }
    }

    .content{
      width: calc(50% - .75rem);
    }

    .content-large{
      width: 100%;
      margin-top: 1.5rem;

      p{
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}

.slider span strong{
  color: #00c039;
}